<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xmi*"
            id="Xtext2SonarM2T.launcher.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Xtext2Sonar" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="Xtext2SonarM2T.launcher.popupMenus.AcceleoGenerateGenerateSonarQubePluginAction"
               enablesFor="+"
               id="Xtext2SonarM2T.launcher.popupMenus.acceleoGenerateGenerateSonarQubePluginAction"
               icon="icons/default.gif"
               label="Generate SonarQube Plugin"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
